//Height
.h-72 {
  height: 72px;
}

//width
.w-280 {
  width: 280px;
}

.w-0 {
  width: 0;
}

// Navitem
.navbar-item {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $dark;
  }
}

.navbar-item-active {
  border-bottom: 1px solid $dark;
}

// Sidebar
.sidebar-item {
  &:hover {
    background-color: $dark !important;
    color: $light !important;
  }
}

.sidebar-item-active {
  background-color: $dark !important;
  color: $light !important;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
}

// Margin
.mt-72 {
  margin-top: 72px;
}

//z-index
.z-to-1000 {
  z-index: 1000;
}

// Opacity
.opacity-0 {
  opacity: 0;
}

// transitions
.transition-all {
  transition: all .4s ease-out;
}