//Height
.h-72 {
  height: 72px;
}

.min-85vh {
  min-height: 85vh;
}

//width
.w-280 {
  width: 280px;
}

.min-w-200 {
  min-width: 200px;
}

.w-0 {
  width: 0;
}

// Navitem
.navbar-item {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $dark;
  }
}

.navbar-item-active {
  border-bottom: 1px solid $dark;
}

// Sidebar
.sidebar-item {
  &:hover {
    background-color: $dark !important;
    color: $light !important;
  }
}

.sidebar-item-active {
  background-color: $dark !important;
  color: $light !important;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
}

// Margin
.mt-72 {
  margin-top: 72px;
}

//z-index
.z-to-1000 {
  z-index: 1000;
}

.z-to-1200 {
  z-index: 1200;
}

// Opacity
.opacity-0 {
  opacity: 0;
}

// transitions
.transition-all {
  transition: all .4s ease-out;
}

// Top
.top-72 {
  top: 72px;
}

// Letter spacing
.ls-6 {
  letter-spacing: 0.6px;
}

// Text center
.text-center-sm {
  @media (max-width: 576px) {
    text-align: center;
  }
}