<main class="min-80vh py-4">
  <div class="container">
    <div class="max-width-680 mx-auto">
      <h1 class="fs-2 mb-4 text-center">About</h1>
      <p>I have created this site to share what I have learnt as a developer and start practicing and implementing the simple skills that are gained daily. You are free to use the resources that are provided in this website. Please <%= link_to 'contact me', contacts_path %> if you may find any issues regarding the articles or any other issue that is related to website or web development at large. Images used in this site are from <%= link_to 'Unsplash', 'https://unsplash.com/', target: '_blank' %>.</p>
    </div>
  </div>
</main>
