<main class="min-85vh">
  <div class="container">
    <div class="max-width-550 mx-auto shadow p-3 mt-4">
      <h2 class="fs-2 my-3 text-center">New Tag</h2>
      <div class="text-end my-3">
        <%= link_to 'Back', tags_path, class: 'btn btn-dark rounded-0' %>
      </div>
        <%= render 'form', tag: @tag %>
    </div>
  </div>
</main>